.text-white {
  color: #fff;
}

a.text-white:hover,
a.text-white:focus {
  color: #00ff11;
}

.text-middle {
  vertical-align: middle;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
}

.link-default,
.link-default:active,
.link-default:focus {
  color: #2b2c2f;
}

.link-default:hover {
  color: #f16121;
}

.link-silver-light,
.link-silver-light:active,
.link-silver-light:focus {
  color: #d3d3d6;
}

.link-silver-light:hover {
  color: #f16121;
}

.link-shop.link-white .label-inline {
  color: #23201e;
}

.link-shop.link-white .label-inline,
.link-shop.link-white:active .label-inline,
.link-shop.link-white:focus .label-inline {
  background: #fff;
}

.link-shop.link-white:hover .label-inline {
  background: #f16121;
  color: #fff;
}

.link-shop.link-primary .label-inline {
  color: #fff;
}

.link-shop.link-primary .label-inline,
.link-shop.link-primary:active .label-inline,
.link-shop.link-primary:focus .label-inline {
  background: #f16121;
}

.link-shop.link-primary:hover .label-inline {
  background: #74706f;
  color: #fff;
}

.link-shop-variant-1 {
  width: 50px;
  height: 50px;
  line-height: 48px;
}

.link-shop-variant-1 .label-inline {
  top: 3px;
  left: 1px;
  color: #fff;
  background: #f16121;
  z-index: 5;
}

.link-shop-variant-1.link-primary:hover {
  color: #f16121;
}

.link-shop-variant-1.link-primary:hover .label-inline {
  background: #f16121;
}

.icon {
  display: inline-block;
  text-align: center;
  padding: 3px;
}

.icon-gray-dark {
  color: #fff;
  background-color: #595351;
  -webkit-box-shadow: 0 0 0 4px #d9d9d9;
          box-shadow: 0 0 0 4px #d9d9d9;
  border: 0;
}

.icon-circle {
  border-radius: 50%;
  border: 1px solid;
}

.icon-xxs {
  font-size: 19px;
  line-height: 19px;
}

.icon-xs {
  font-size: 20px;
  line-height: 20px;
}

.icon-sm.icon-circle {
  width: 41px;
  height: 41px;
  line-height: 39px;
}

.icon-sm-mod-1 {
  font-size: 28px;
  line-height: 28px;
}

.icon-md {
  font-size: 33px;
  line-height: 33px;
}

.icon-md-mod-1 {
  font-size: 30px;
  line-height: 30px;
}

.icon-lg {
  font-size: 50px;
  line-height: 50px;
}

.icon-xl {
  font-size: 80px;
  line-height: 80px;
}

.icon-xxl {
  font-size: 88px;
  line-height: 88px;
}

.icon-social.icon-circle {
  width: 44px;
  height: 44px;
  line-height: 42px;
}

.icon-xxs.icon-circle {
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.icon-xxs.icon-circle.icon-gray-dark {
  color: #fff;
  background-color: #595351;
  -webkit-box-shadow: 0 0 0 4px #d9d9d9;
          box-shadow: 0 0 0 4px #d9d9d9;
  border: 0;
}

.icon-adjust-vertical .icon {
  position: relative;
  top: -2px;
}

@font-face {
  font-family: "primary-font";
  src: url("../../fonts/farsi-fonts/iran-yekan-500.eot");
  src: url("../../fonts/farsi-fonts/iran-yekan-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/farsi-fonts/iran-yekan-500.woff2") format("woff2"), url("../../fonts/farsi-fonts/iran-yekan-500.woff") format("woff"), url("../../fonts/farsi-fonts/iran-yekan-500.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "secondary-font";
  src: url("../../fonts/farsi-fonts/iran-sans-700.eot");
  src: url("../../fonts/farsi-fonts/iran-sans-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/farsi-fonts/iran-sans-700.woff2") format("woff2"), url("../../fonts/farsi-fonts/iran-sans-700.woff") format("woff"), url("../../fonts/farsi-fonts/iran-sans-700.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=1.4.57");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=1.4.57") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=1.4.57") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=1.4.57") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=1.4.57") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=1.4.57#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thin Regular';
  src: url("../fonts/Thin-Regular.eot?66413286");
  src: url("../fonts/Thin-Regular.eot?66413286#iefix") format("embedded-opentype"), url("../fonts/Thin-Regular.woff?66413286") format("woff"), url("../fonts/Thin-Regular.ttf?66413286") format("truetype"), url("../fonts/Thin-Regular.svg?66413286#thin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Restaurant Regular';
  src: url("../fonts/Restaurant-Regular.eot?87209526");
  src: url("../fonts/Restaurant-Regular.eot?87209526#iefix") format("embedded-opentype"), url("../fonts/Restaurant-Regular.woff?87209526") format("woff"), url("../fonts/Restaurant-Regular.ttf?87209526") format("truetype"), url("../fonts/Restaurant-Regular.svg?87209526#mercury") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "primary-font", "segoe ui", "tahoma";
  direction: rtl;
  font-size: 14px;
  line-height: 1.71429;
  color: #9b9b9b;
  background-color: #fbfbfb;
}

html *:last-child {
  margin-bottom: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.page-head {
  height: 100px;
}

.page-head .top-menu {
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-head .top-menu .top-menu-aside-right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-head .top-menu .top-menu-aside-left {
  width: 60%;
}

.page-head .top-menu .top-menu-aside-left ul.list-links {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 25%;
      grid-template-columns: 30% 40% 25%;
  gap: 8px;
}

.page-head .top-menu .top-menu-aside-left ul.list-links li.list-item {
  margin-right: 10px;
  list-style: none;
}

.page-head .top-menu .top-menu-aside-left ul.list-links li.list-item .unit-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-head .top-menu .top-menu-aside-left ul.list-links li.list-item .unit-horizontal .unit-right {
  margin-left: 12px;
}

.page-head .top-menu .top-menu-aside-left ul.list-links li.list-item .list-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-head .top-menu .top-menu-aside-left ul.list-links li.list-item .list-inline li {
  list-style: none;
}

.navbar-box {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  height: 60px;
  border-radius: 50px;
  background: #f16121;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-nav li {
  margin-left: 60px;
  list-style: none;
}

.navbar .navbar-nav li a {
  color: #fff;
  font-weight: bold;
}

.navbar .navbar-nav li .active {
  background-color: #f59164;
  padding: 3px 10px;
}

.navbar .navbar-shop {
  text-align: left;
  font-size: 1.5em;
}

.navbar .navbar-shop a {
  font-size: 20px;
  color: #000;
}

.navbar .navbar-shop a span.mdi-cart-outline {
  margin: 0;
}

.navbar .navbar-shop a:hover {
  color: #fff;
}

.slider {
  text-align: center;
  position: relative;
  z-index: 1;
  top: -30px;
  height: 700px;
  color: #fff;
}

.slider #slide-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: url("../images/home-slide-3-1920x800.jpg") no-repeat;
  background-size: cover;
}

.slider #slide-one .slider-text {
  height: 400px;
}

.slider #slide-one .slider-text h1 {
  font-family: "secondary-font";
  font-size: 5em;
  font-weight: 700;
}

.slider #slide-one .slider-text h3 {
  font-family: "secondary-font";
  font-size: 2em;
  font-weight: 600;
}

.slider #slide-one .slider-text p {
  margin: 0 auto;
  width: 70%;
}

.slider #slide-one .slider-text a {
  display: inline-block;
  background-color: #bfdb39;
  padding: 15px 40px;
  border-radius: 40px;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
}

.slider #slide-one .slider-text a:hover {
  background-color: #f59164;
}

.welcome-info {
  margin: 0 auto;
  width: 50%;
}

.welcome-info h3 {
  font-size: 55px;
  color: #000;
  font-family: "secondary-font";
}

.welcome-info p {
  font-family: "primary-font";
  font-size: 14px;
  line-height: 1.7;
  color: #9b9b9b;
}

.bg-image-6 {
  background-image: url("../images/home-slide-4-1920x800.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.main-food-box {
  padding-top: 100px;
}

.main-food-box h3 {
  font-size: 55px;
  color: #fff;
  font-family: "secondary-font";
  padding-bottom: 50px;
}

.main-food-box .main-foods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 44px;
  padding-bottom: 200px;
}

.main-food-box .main-foods .food-box {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.main-food-box .main-foods .food-box img {
  margin: 20px 20px;
}

.main-food-box .main-foods .food-box .caption {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #bfdb39;
  height: 80px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  text-align: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-5deg) scale(1.1);
          transform: rotate(-5deg) scale(1.1);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.main-food-box .main-foods .food-box .title {
  position: absolute;
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
  padding-right: 20px;
  width: 25%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  min-height: 36px;
  font-size: 20px;
  font-weight: 700;
  font-family: "secondary-font", "primary-font", "segoe ui", "tahoma";
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.main-food-box .main-foods .food-box .title a {
  text-decoration: none;
  color: #fff;
}

.banner {
  position: relative;
  z-index: 1;
  top: -30px;
  width: 100%;
  height: 350px;
  background: url("../images/bg-image-breadcrumbs.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner h1 {
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-family: secondary-font;
}

.banner ul.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner ul.breadcrumbs li {
  margin-left: 40px;
  color: #fff;
  list-style: none;
}

.banner ul.breadcrumbs li a {
  text-decoration: none;
  color: #bfdb39;
  font-family: 'primary-font';
  font-size: 1.4em;
  position: relative;
}

.banner ul.breadcrumbs li a::after {
  content: "\f400";
  position: absolute;
  right: 40px;
  top: 53%;
  left: 9px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font: 400 18px/18px 'Material Design Icons';
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#main-box-product-menu {
  width: 75%;
  margin: 100px auto;
  background: url("../images/bg-menu-7.jpg");
  background-size: cover;
  padding: 15px;
}

#main-box-product-menu > div {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 100px 50px;
}

#main-box-product-menu > div .product-menu-info ul {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 30px;
}

#main-box-product-menu > div .product-menu-info ul li {
  list-style: none;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px aliceblue;
          box-shadow: 1px 1px 3px aliceblue;
  padding: 10px;
}

#main-box-product-menu > div .product-menu-info ul li .food-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}

#main-box-product-menu > div .product-menu-info ul li .food-info .food-title {
  font-family: "secondary-font";
  display: inline-block;
}

#main-box-product-menu > div .product-menu-info ul li .food-content {
  font-size: 1em;
}
/*# sourceMappingURL=style_new.css.map */